In [29]:
#Importando as bibiotecas
import pandas as pd

In [27]:
dataframe = pd.read_csv("dados.csv")
print(dataframe.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

Obtendo o formato dos dados

In [24]:
for type in dataframe.dtypes:
    column_types.append(type)
print("\nDataframe types:", column_types, "\n")

Dataframe types: [dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64')]

Iteracao por tipos

In [ ]:
for type in dataframe.dtypes:
    column_types.append(type)
print("\nDataframe types:", column_types, "\n")

Iterac√£o por colunas

In [22]:
for i, col in enumerate(dataframe.iteritems()):
    column_name = col[0]
print("Column "+str(i+1)+":"+ column_name, end=" ")

Column 9:Salary

Valores unicos na coluna

In [21]:

column_unique_values = list(dataframe[column_name].unique().copy())
print("-Unique values:", column_unique_values, end= " ")

-Unique values: [7730337.0, 6796117.0, nan, 1148640.0, 5000000.0, 12000000.0, 1170960.0, 2165160.0, 1824360.0, 3431040.0, 2569260.0, 6912869.0, 3425510.0, 1749840.0, 2616975.0, 845059.0, 1500000.0, 1335480.0, 6300000.0, 1599840.0, 134215.0, 19689000.0, 1140240.0, 947276.0, 981348.0, 11235955.0, 8000000.0, 1635476.0, 30888.0, 22875000.0, 7402812.0, 1572360.0, 12650000.0, 3750000.0, 4131720.0, 2814000.0, 1636842.0, 4000000.0, 167406.0, 1000000.0, 4626960.0, 1074169.0, 6500000.0, 2144772.0, 525093.0, 3457800.0, 4582680.0, 2869440.0, 1524000.0, 13600000.0, 10050000.0, 2500000.0, 7000000.0, 1842000.0, 6268675.0, 650000.0, 3553917.0, 2900000.0, 245177.0, 4660482.0, 1509360.0, 3873398.0, 13800000.0, 11370786.0, 2008748.0, 14260870.0, 11710456.0, 5543725.0, 1131960.0, 1270964.0, 3815000.0, 15501000.0, 289755.0, 1100602.0, 111444.0, 5675000.0, 9650000.0, 18907726.0, 21468695.0, 3376000.0, 947726.0, 7085000.0, 3110796.0, 1159680.0, 3000000.0, 700000.0, 25000000.0, 15592217.0, 1724250.0, 1155600.0, 3132240.0, 5103120.0, 5219169.0, 13500000.0, 2127840.0, 206192.0, 13000000.0, 1160160.0, 3807120.0, 1035000.0, 55722.0, 5500000.0, 2041080.0, 83397.0, 1015421.0, 6060606.0, 1449187.0, 2836186.0, 3398280.0, 5013559.0, 15851950.0, 12403101.0, 7700000.0, 3156600.0, 9500000.0, 2250000.0, 16407500.0, 4500000.0, 7448760.0, 8500000.0, 2380440.0, 13400000.0, 1391160.0, 20093064.0, 1535880.0, 1147276.0, 8193029.0, 16407501.0, 22970500.0, 1276000.0, 111196.0, 4950000.0, 8988765.0, 2100000.0, 2170465.0, 1252440.0, 2891760.0, 3272091.0, 16000000.0, 600000.0, 13913044.0, 2841960.0, 6270000.0, 4050000.0, 1007026.0, 10300000.0, 17120106.0, 1358880.0, 211744.0, 4394225.0, 1100000.0, 2357760.0, 1953960.0, 2399040.0, 1662360.0, 2943221.0, 855000.0, 14700000.0, 295327.0, 5152440.0, 2109294.0, 6600000.0, 1733040.0, 1449000.0, 4290000.0, 3950313.0, 4053446.0, 2085671.0, 8333334.0, 5200000.0, 15361500.0, 5378974.0, 8193030.0, 306527.0, 6486486.0, 8229375.0, 1242720.0, 1646400.0, 200600.0, 15756438.0, 22359364.0, 2489530.0, 3189794.0, 2288205.0, 1404600.0, 5158539.0, 3542500.0, 4088019.0, 9588426.0, 700902.0, 19688000.0, 1201440.0, 1230840.0, 9638555.0, 9000000.0, 5464000.0, 4389607.0, 9213483.0, 3036927.0, 2850000.0, 7070730.0, 169883.0, 1164858.0, 10734586.0, 1320000.0, 15514031.0, 10595507.0, 3382023.0, 1142880.0, 7500000.0, 5250000.0, 10000000.0, 1200000.0, 250750.0, 3578947.0, 13437500.0, 1499187.0, 2000000.0, 1304520.0, 2854940.0, 5746479.0, 18671659.0, 1763400.0, 3333333.0, 9756250.0, 13125306.0, 189455.0, 6110034.0, 2612520.0, 6331404.0, 3034356.0, 2139000.0, 4204200.0, 22192730.0, 10151612.0, 14783000.0, 261894.0, 20000000.0, 2481720.0, 4171680.0, 3741480.0, 7900000.0, 8344497.0, 1294440.0, 2380593.0, 5192520.0, 2505720.0, 4300000.0, 11250000.0, 5694674.0, 4375000.0, 561716.0, 3300000.0, 11217391.0, 273038.0, 1920240.0, 4662960.0, 3533333.0, 10449438.0, 14000000.0, 1584480.0, 1300000.0, 1709719.0, 3102240.0, 4345000.0, 258489.0, 3950001.0, 1474440.0, 1282080.0, 2148360.0, 2056920.0, 1938840.0, 12100000.0, 12700000.0, 1149500.0, 5703600.0, 5758680.0, 2279040.0, 20158622.0, 3135000.0, 12250000.0, 1463040.0, 222888.0, 3344000.0, 2021520.0, 1210800.0, 5138430.0, 16744218.0, 8042895.0, 625093.0, 6980802.0, 2894059.0, 6000000.0, 5016000.0, 3075880.0, 4236287.0, 2525160.0, 1415520.0, 2637720.0, 4775000.0, 2658240.0, 9463484.0, 3777720.0, 1175880.0, 15409570.0, 1348440.0, 2050000.0, 2239800.0, 2433333.0, 900000.0]